.Options {
  padding: 2.6em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Button {
  width: 35px;
  height: 35px;
  margin-bottom: 1em;
  background-color: var(--bg-accent-color);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.AddSubButton {
  width: 2.51em;
  height: 2.51em;
  background-color: var(--bg-accent-color);
  border: 1px solid #aaa;
  border-radius: 2px;
}

.AddSubButton:active {
  border: 1px solid #777;
}

.Slider {
  padding: 0 1em 0.5em 1em;
  justify-content: space-between;
  display: flex;
  border-bottom: 1px solid var(--bg-color);
}

.Scientific {
  padding: 0.8em 1em;
  display: flex;
}

.ConstantsDefault {
  background-color: var(--bg-accent-color);
  color: var(--fg-color);
  width: 12.4em;
  margin: 0 1em;
  font-size: 1em;
}

.ConstantsDisplay {
  background-color: var(--bg-accent-color);
  color: var(--fg-color);
  width: 10.22em;
  height: 1.7em;
  margin: 0 0 0 1.05em;
  font-size: 1em;
}

.Constants {
  background-color: var(--bg-accent-color);
  color: var(--fg-color);
  width: 12.8em;
  margin: 0 0 0 1.3em;
  font-size: 0.8em;
}
