.Options {
  padding: 2.6em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Button {
  width: 3em;
  height: 3em;
  margin-bottom: 1em;
  background-color: var(--bg-accent-color);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.AddSubButton {
  width: 3em;
  background-color: var(--bg-accent-color);
  border: 1px solid #aaa;
  border-radius: 2px;
}

.AddSubButton:active {
  border: 1px solid #777;
}

.Slider {
  padding: 0 1em 0.5em 1em;
  justify-content: space-between;
  display: flex;
  border-bottom: 1px solid var(--bg-color);
}

.Scientific {
  padding: 0.8em 1em;
  display: flex;
}

.ConstantsDefault {
  background-color: var(--bg-accent-color);
  color: var(--fg-color);
  width: 10.5em;
  margin: 0 0.5em;
  font-size: 1.2em;
}

.ConstantsDisplay {
  background-color: var(--bg-accent-color);
  color: var(--fg-color);
  width: 8.4em;
  margin: 0 0 0 0.75em;
  font-size: 1.2em;
}

.Constants {
  background-color: var(--bg-accent-color);
  color: var(--fg-color);
  width: 8.4em;
  margin: 0 0 0 0.75em;
  font-size: 1.2em;
}
