.Icon {
  width: 2em;
  height: 2em;
  font: serif;
  font-size: 1em;
  fill: var(--fg-color);
  pointer-events: none;
}

.Dropdown {
  position: relative;
}

.DropMenu {
  position: absolute;
  background-color: var(--bg-accent-color);
  color: var(--fg-color);
  border-radius: 3px;
  width: 15em;
  top: 0%;
  right: calc(100% + 1em);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transform: translateX(10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.DropMenuActive {
  composes: DropMenu;
  z-index: 10;
  pointer-events: auto;
  opacity: 1;
  transform: translateX(0);
}
