.App {
  text-align: center;
  display: justify-content;
  margin: auto;
}

.AppWrapper {
  display: inline-block;
  padding: 10em;
}

.Nav {
  background-color: #282c34;
  min-height: 1em;
  padding: 0 2.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 1vmin);
  color: white;
}

.Options {
}

.OptionsWrapper {
  min-height: 1em;
  padding: 2.5em 2.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 1vmin);
  color: white;
}

.Profile {
  display: flex;
  align-items: center;
}

.Input {
  text-align: center;
  display: justify-content;
  margin-bottom: 20px;
}

.Display {
  text-align: center;
  display: justify-content;
  margin-top: 10px;
}

.VariableInput {
  text-align: center;
  display: flex;
}

.VariableInputComponent {
  text-align: center;
  display: flex;
}
