@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #d6d6d6;
    --bg-accent-color: #f3f3f3;
    --fg-color: #222;
    background: var(--bg-color);
    color: var(--fg-color);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1b1d30;
    --bg-accent-color: #272c40;
    --fg-color: #e8e8e2;
    background: var(--bg-color);
    color: var(--fg-color);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
